@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --a:#222a68;
    --b:#574ae2;
    --c:#654597;
    --d:#ab81cd;
    --e:#e2adf2;
    
}
ul{
    list-style: none;
    display: flex;
    gap: 13px;
}
.ord{
    border: none;
    
}
.service{
    display: flex;
    align-items: center;
    width:100%;
    flex-wrap: wrap;
    padding: 30px 12%;
    background-color: var(--c);
    color: white;
    gap: 60px;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    font-family:"orbitron";
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.customers{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
